/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    img {
    width: 100%;
    height: auto;
    display: block;
    }


/* GRIDS */

.grid_index {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
}

/* INDEX */
#index_img {
    grid-column: 1 / span 5;
    grid-row: 1 / span 10;
    object-fit: cover;
    align-self: stretch;
    height: 569.141;
    width: 520;
}

.index_title {
    display: none;
}

.index_header_line_1 {
    margin-left: 5px;
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    z-index: 1;
}

.index_header_line_2 {
    margin-left: 5px;
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    z-index: 1;
}

.index_header_line_3 {
    margin-right: 5px;
    grid-column: 3 / span 3;
    grid-row: 4 / span 1;
    text-align: end;
    z-index: 1;
}

.index_header_line_4 {
    margin-left: 5px;
    grid-column: 1 / span 5;
    grid-row: 5 / span 1;
    z-index: 1;
}

.index_header_line_5 {
    grid-column: 2 / span 3;
    grid-row: 6 / span 1;
    text-align: center;
    z-index: 1;
}

#index_button {
    grid-column: 2 /span 3;
    grid-row: 8;
    z-index: 1;
    justify-self: center;
    margin-top: 3rem;
}

/* WELCOME */
.grid_welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    width: 100vw;
    height: 90vh;
}

@media (min-width: 1000px) {
    .grid_welcome {
        grid-template-rows: 2fr 4fr auto;
        height: 100vh;
        padding: 2.5vw;
        gap: 1rem;
    }
}

.welcome_img {
    grid-column: 1 / span 2;
    grid-row: 1;
    z-index: 0;
    margin-top: 5rem;
    object-fit: cover;
    align-self: stretch;
    width: 100vw;
    height: auto;
}

@media (min-width: 1000px) {
    .welcome_img {
        grid-column: 2;
        grid-row: 1 / span 2;
        margin-top: 6rem;
        object-fit: cover;
        width: unset;
        height: auto;
        max-width: 50vw;
    }
}

.welcome_hero {
    grid-column: 1 /span 2;
    grid-row: 1;
    z-index: 1;
    margin-top: 5rem;
    text-align: right;
    margin-right: 1rem;
}

@media (min-width: 1000px) {
    .welcome_hero {
        grid-row: 1;
        text-align: left;
        margin-right: 0rem;
    }
}

@media (min-height: 1050px) {
    .welcome_hero {
        margin-top: 7.5rem;
    }
}

.text_box#welcome_box {
    grid-column: 1 / span 2;
    grid-row: 2;
    z-index: 1;
    margin-top: 2rem;
}

@media (min-width: 1000px) {
    .text_box#welcome_box {
        place-self: start;
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        margin: 2rem 2rem 0rem 2rem;
    }
}

@media (min-height: 1000px) {
    .text_box#welcome_box {
        place-self: end;
    }
}

#welcome_h2 {
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 1000px) {
    #welcome_h2 {
        text-align: left;
        margin-left: 0.5rem;
    }
}

.container {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media (min-width: 1000px) {
   
    .container {
        grid-column: 2;
        grid-row: 3;
    }
}

#welcome_button {
    grid-column: 1 / span 2;
    grid-row: 3;
    z-index: 1;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 1000px) {
    #welcome_button {
        grid-column: 2;
        grid-row: 2;
        place-self: end;
        margin-bottom: 0rem;
    }
}

/* FILM SITES */
.grid_film_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
}

@media (min-width: 1000px) {
    .grid_film_1 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.film_img_1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    z-index: 0;
    align-self: stretch;
    object-fit: cover;
    filter: brightness(40%);

}
@media (max-width: 1000px) {
    #sw_img_1 {
    object-position: 60%;
    }
    
}

@media (min-width: 1000px) {
    .film_img_1 {
        grid-column: 1 / span 4;
    }
}

.film_hero {
    grid-column: 1 /span 2;
    grid-row: 1 / span 2;
    z-index: 1;
    text-align: right;
    margin-top: 7rem;
    margin-right: 1rem;
}

.film_hero#hero_center {
    margin-top: 10rem;
}

@media (min-width: 1000px) {
    .film_hero {
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    .film_hero#hero_center {
        grid-column: 2 / span 2;
        text-align: center;
        margin-top: 7rem;
    }
}


.info_box {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    margin-top: 12rem;
    margin-right: 1rem;
    z-index: 1;
}

@media (min-width: 1000px) {
    .info_box {
        grid-column: 4;
        width: 15rem;
        height: 25rem;
        margin-top: 8rem;
        margin-right: 0rem;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        justify-self:  end;
    }
}

.grid_film_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
}

.film_img_2 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    z-index: 0;
    align-self: stretch;
    object-fit: cover;
}

.film_quote {
    grid-column: 1 / span 3;
    grid-row: 2;
    z-index: 1;
    text-align: center;
}

@media (min-width: 1000px) {
    .film_quote {
        grid-row: 2;
    }
}

.grid_film_3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    margin-top: 0.5rem;
}

@media (min-width: 1000px) {
    .grid_film_3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto 1fr;
    }

}

.film_img_3 {
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}

#sw_img_3 {
    object-fit: cover;
    align-items: stretch;
    min-height: 30vh;
}

@media (min-width: 1000px) {
    .film_img_3 {
        grid-column: 2;
        grid-row: 1 / span 2;
        margin-top: 10rem;
        place-self: end;
        align-self: stretch;
        object-fit: cover;

    }

    #sw_img_3 {
        max-height: 40%;
        object-position: 30% 40%;
    }
}

.film_article_header {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    place-self: center;
    text-align: center;
}

@media (min-width: 1000px) {
    .film_article_header {
        margin-top: 12.5rem;
        grid-column: 1 / span 2;
        grid-row: 1;
        place-self: start center;
        text-align: center;
    }
}

.film_article {
    grid-column: 1;
    grid-row: 2;
    margin-top: 2rem;
}

@media (min-width: 1000px) {
    .film_article {
        grid-column: 1;
        grid-row: 2;
        place-self: start;
        margin: 5rem;
    }
}

.film_button {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

@media (min-width: 1000px) {
    
    .film_button {
        grid-column: 1;
        grid-row: 3;
    }
}

/* CONGRATULATIONS PAGE */
.congrats_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}


@media (min-width: 1000px) {
    .congrats_grid {
        grid-template-rows: 2fr 4fr 1fr;
    }
    
}

#congrats_hero {
    grid-column: 1 / span 2;
    grid-row: 1;
    place-self: center;
    z-index: 1;
    margin-top: 7.5rem;
}

@media (min-width: 1000px) {
    #congrats_hero {
        margin-top: 10rem;
    }
    
}


.congrats_h2 {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    justify-self: center;
    margin-top: 5rem;
}

@media (min-width: 1000px) {
    .congrats_h2 {
        margin-top: 7.5rem;
    }

}

.congrats_p {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin-top: 15rem;
}

#congrats_button {
    grid-column: 1 / span 2;
    grid-row: 3;
    place-self: end center;
    margin-bottom: 4rem;

}

@media (min-width: 1000px) {
    #congrats_button {
        grid-column: 1;
        grid-row: 2;
        place-self: end center;
        margin-bottom: 10rem;
    }

}

.congrats_img {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: stretch;
    object-fit: cover;
    margin-top: 15rem;
}
/*#############################################################*/
/* DESKTOP LAYOUT */
@media (min-width: 1000px) {

    /* GRIDS */
    .grid_index {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .grid_2-7 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    /* INDEX */
    #index_img {
        grid-column: 4 / span 3;
        grid-row: 1 / span 5;
    }

    .index_title {
        display: flex;
        grid-column: 1 / span 6;
        grid-row: 1 / span 4;
        z-index: 1;
        margin-top: 1rem;
        margin-left: 7.5rem;
        line-height: 125%;
    }

    #index_button {
        margin-top: 5rem;
        margin-bottom: 5rem;
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
    }

    .index_header_line_1, .index_header_line_2, .index_header_line_3, .index_header_line_4, .index_header_line_5  {
        display: none;
    }
        
}
