/* CSS FOR BURGER MENU */

/* NAV */
nav {
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 4;
}

@media (min-width: 1000px) {
    nav {
        margin-top: 1rem;
        background: none;
    }
}

.nav_right {
    position: relative;
    float: right;
    z-index: 4;
}

/* LOGO */
.logo {
    float: left;
    height: auto;
    width: 4rem;
    margin: 1rem;
    z-index: 4;
    filter: drop-shadow( 0.25rem 0.25rem 0.25rem #000000)
}

@media (min-width: 1000px) {
    .logo {
        width: 7rem;
    }
}

/* BURGER ICON */
.burger {
    float: right;
    margin: 1.5rem;
    width: 3rem;
    height: 2rem;
    display: block;
    z-index: 4;
    cursor: pointer;
}

.burger .line {
    width: 100%;
    height: 0.2rem;
    margin-bottom: 0.5rem;
    background-color: var(--burger_color);
    box-shadow: 0.25rem 0.25rem 0.25rem #000000;
    transition: 0.2s linear;
}

.burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(0.5rem, 0.5rem);
    transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(0.5rem, -0.5rem);
    transition: 0.2s linear;
}

/* MENU */
.menu {
    width: 0vw;
    overflow: auto;
    background-color: var(--menu_bg);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 3;
    padding-bottom: 10rem;
    transition: ease-in 0.5s;
    transform: translateX(130%)
}

.menu ul {
    margin-top: 5rem;
    text-align: right;
}

@media (min-width: 1000px) {
    .menu ul:first-child {
        margin-top: 15rem;
    }
}

.menu li:first-child {
    color: var(--heading_color);
    font-family: "Helvetica Neue";
    font-size: 1.75rem;
    font-weight: 700;
}

nav.active .menu {
    top: 0;
    right: 0;
    width: 100vw;
    transition: ease-out 0.6s;
    opacity: 1;
    transform: translateX(0);
}

@media (min-width: 1000px) {
    .menu {
        top: 0;
        right: 0;
        height: 100vh;
        width: 0vw;
    }

    nav.active .menu {
        top: 0;
        width: 40vw;
    }
}

nav.active .menu li {
    margin: 0rem 1.25rem;
}

.menu a {
    font-size: 1.25rem;
    font-family: "EB Garamond";
    font-weight: 500;
    line-height: 200%;
    display: block;
    color: var(--link_color);
    text-decoration: none;
    transition: ease-in 0.3s;
}

.menu a#current {
    color: var(--link_color_current);
    font-size: 1.5rem;
    transition: ease-in 0.3s;
}

.menu a:hover {
    color: var(--link_color_hover);
}

/* PROFILE OVERLAY */
.profile_icon {
    float: left;
    margin: 1rem;
    height: 2.75rem;
    width: 2.75rem;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem #000000);
    z-index: 4;
    cursor: pointer;
}

.login {
    height: 0vh;
    width: 100vw;
    position: fixed;
    opacity: 0;
    font-family: 'EB Garamond';
    font-size: 1.75rem;
    font-style: italic;
    line-height: 125%;
    color: var(--text_color);
    z-index: 4;
    transform: translateY(-130%);
    transition: opacity ease-in 0.3s;
}

@media screen and (min-width: 1024px) {
    .login {
        width: 70vw;
        margin: 15vh 15vw 15vh 15vw;
    }

}

@media screen and (min-width: 1200px) {
    .login {
        width: 50vw;
        margin: 15vh 25vw 25vh 25vw;
    }
}

.login.active {
    margin-top: 8vh;
    height: 90vh;
    opacity: 1;
    background-color: var(--login_bg);
    border: 2px solid var(--login_border);
    transform: translateY(0%);
    transition:  opacity ease-out 0.4s;
}

@media screen and (min-width: 1024px) {
    .login.active {
        margin-top: 15vh;
        height: 70vh;
    }
}

@media screen and (min-width: 1400px) {
    .login.active {
        height: 40vw;
    }
}

.login .exit {
    display: none;
    width: 5%;
    margin-top: 5%;
    margin-left: 90%;
    cursor: pointer;
}

.login.active .exit {
  display: block;
}

.exit .line {
    width: 100%;
    height: 0.2rem;
    margin-bottom: 0.5rem;
    background-color: var(--burger_color);
}

.exit .line:nth-child(1) {
    transform: rotate(45deg) translate(0rem, 0.5rem);
}

.exit .line:nth-child(2) {
    transform: rotate(-45deg) translate(0rem, -0.5rem);
}

.login_form {
    display: none;
}

.login.active .login_form {
    display: block;
    margin: 0vw 10vw 0vw 10vw;
}

.login_form h1 {
    margin-bottom: 5%;
}

.login_form .button {
    margin-top: 10%;
}

.login input {
  color: var(--login_input_color);
  font-family: "EB Garamond";
  font-size: 1.75rem;
  margin-top: 2%;
  padding-left: 5px;
  border: 2px solid var(--login_input_border);
  background-color: var(--login_input_bg);
  outline: none;

}

.login input:focus {
    border: 2px solid var(--login_input_border_focus);
    transition: 0.5s;
}


