{% extends "base.html" %}
    {% block content %}
    <div class='grid_12-auto'>
        <h1 class='hero' id='congrats_hero'>Congratulations!</h1>
        <h2 class='congrats_h2'>You've just finished your first reel.</h2>
        <p class='congrats_p'>Click the button below to begin your next challenge!</p>
        <img src="{{ url_for('static',filename='img/congrats/congrats.webp') }}" class='congrats_img'
        alt="Still from Star Wars showing the three heroes recieving their medals for destroying the death star.">
        
        <a href="{{ url_for('godzilla') }}" class='button' id='congrats_button'>Continue</a>
    </div>
    
    {% endblock content %}