{% extends "base.html" %}
    {% block content %}
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/seven_samurai/seven-samurai_1.webp') }}" class='film_img_1'
        alt="Still from the movie Seven Samurai showing a rainy scene with a samurai on his knees in the mud and raising his sword.">
        <h1 class='hero film_hero'>SEVEN <br> SAMURAI</h1>
        <div class='info_box'>
            <h3>FILM INFO</h3>
            <ul>
                <li>Akira Kurosawa</li>
                <li>Japan</li>
                <li>1954</li>
                <li>207 Minutes</li>
                <li>Black & White</li>
                <li>Japanese</li>
            </ul>
        </div>
    </div>
    
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/seven_samurai/seven-samurai_2.webp') }}" class='film_img_2'
        alt="Still image from the film Seven Samurai showing two samuai looking at a sword lodged in a pile of dirt.">
        <h1 class='hero film_quote' id='quote'>“Find hungry samurai. <br>Even bears come down from the mountains
            when they are
            hungry”</h1>
        </div>
        <div class='grid_12-auto'>
            <img src="{{ url_for('static',filename='img/seven_samurai/seven-samurai_3.webp') }}" class='film_img_3'
            alt="Still image from the film Seven Samurai showing a rainy scene with two samurai looking at a third on his knees in the mud and looking defeated.">
            <h1 class='film_article_header'>Honor & Sacrifice</h1>
            <div class='film_article'>
                
                <p>
                    Seven Samurai stands as a monumental work in the history of cinema, a film that transcends its
                    period
                    and genre to explore the profound themes of honor, sacrifice, and the human condition. Set in
                    16th-century Japan, the narrative follows a village besieged by bandits who, in desperation, enlist
                    the
                    help of seven ronin—masterless samurai—each embodying distinct virtues and flaws.
                    <br>
                    <br>
                    Kurosawa’s masterful direction is complemented by his innovative use of cinematography and editing,
                    particularly in the film's iconic battle sequences. The dynamic framing and use of weather elements,
                    such as rain and dust, not only heighten the tension but also serve as a visual metaphor for the
                    chaos
                    of war. The film’s score, composed by Fumio Hayasaka, further enriches the emotional landscape,
                    underscoring moments of introspection and valor.
                    <br>
                    <br>
                    What sets Seven Samurai apart from conventional action films is its deep character development and
                    philosophical underpinnings. Each samurai, from the brash and youthful Katsushiro (Isuzu Yamada) to
                    the
                    hardened and cynical Kikuchiyo (Toshiro Mifune), grapples with their own ideals and motivations.
                    This
                    exploration of the samurai ethos, juxtaposed against the backdrop of peasant life, invites viewers
                    to
                    reflect on the nature of heroism and the sacrifices made in the pursuit of justice.
                    <br>
                    <br>
                    As a precursor to the modern action genre, Seven Samurai has influenced countless filmmakers and
                    remains
                    a touchstone for narratives centered on camaraderie and resilience. Its legacy endures not only in
                    its
                    stylistic innovations but also in its poignant examination of humanity’s struggle against adversity,
                    making it an essential viewing experience and a testament to Kurosawa’s unparalleled artistry.
                </p>
                <div class='container'>
                    <a href="{{ url_for('persona') }}" class='button film_button'>Next</a>
                </div>
            </div>
        </div>
    {% endblock content %}