{% extends "base.html" %}
    {% block content %}
    
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/godfather/godfather_1.webp') }}" class='film_img_1'
        alt="Still from the movie The Godfather showing Don Corleone being whispered in his ear.">
        <h1 class='hero film_hero' id='hero_center'>THE <br>GODFATHER</h1>
        <div class='info_box'>
            <h3>FILM INFO</h3>
            <ul>
                <li>Francis Ford Coppola</li>
                <li>United States</li>
                <li>1972</li>
                <li>149 Minutes</li>
                <li>Colour</li>
                <li>English</li>
            </ul>
        </div>
    </div>
    
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/godfather/godfather_2.webp') }}" class='film_img_2'
        alt="Still from the movie 2001: A Space Odyssey showing the character Dave in a spacesuit walking around a space station.">
        <h1 class='hero film_quote' id='quote'>“I'm gonna make him an offer he can't refuse.”</h1>
    </div>
    <div class='grid_12-auto'>
        <img src="{{ url_for('static',filename='img/godfather/godfather_3.webp') }}" class='film_img_3'
        alt="Still from the movie 2001: A Space Odyssey showing a close-up of the character Dave wearing a space-suit.">
        <h1 class='film_article_header'>Masters of Darkness</h1>
        <div class='film_article'>
            <p>
                Intricate relationships and dualities occupy center stage in "The Godfather," as patriarch Don Vito
                Corleone (Marlon Brando) faces the demands of the criminal underworld while striving to uphold the
                family honor he holds dear. As the story unfolds, Vito's son, Michael Corleone (Al Pacino),
                transforms from a reluctant outsider into a ruthless leader.
                <br>
                <br>
                Coppola's masterful adaptation of Mario Puzo's novel weaves a personal drama replete with
                sociopolitical critique. "The Godfather" challenges the American Dream, unmasking the potential for
                moral decay as ambition and power take the reins. Iconic lines such as "I'm going to make him an
                offer he can't refuse" function not only as narrative fulcrums but also as haunting reminders of the
                coercive forces that pervade this world.
                <br>
                <br>
                Visually, "The Godfather" casts a spell with its rich, atmospheric cinematography. Coppola's use of
                shadow and light, combined with Nino Rota's haunting score, elicits a palpable sense of nostalgia
                and inevitability, transporting viewers into the web of organized crime.
                <br>
                <br>
                The Godfather captivates us by dissecting the very essence of human struggle, delving into themes of
                loyalty, corruption, and the complex interplay of moral ambiguity. This masterpiece stands the test
                of time, urging us to introspect on the dynamics between family, power, and authority, proving
                itself to be an enduring cinematic treasure that will continue to grip audiences for generations to
                come.
            </p>
            <div class='container'>
                <a href="{{ url_for('stalker') }}" class='button film_button'>Next</a>
            </div>
        </div>
    </div>
    {% endblock content %}