{% extends "base.html" %}
    {% block content %}
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/godzilla/godzilla_1.webp') }}" class='film_img_1'
        alt="Still from the movie Godzilla showing the monster ripping through electric wires.">
        <h1 class='hero film_hero' id='hero_center'>GODZILLA</h1>
        <div class='info_box'>
            <h3>FILM INFO</h3>
            <ul>
                <li>Ishiro Honda</li>
                <li>Japan</li>
                <li>1954</li>
                <li>94 Minutes</li>
                <li>Black & White</li>
                <li>Japanese</li>
            </ul>
        </div>
    </div>
    
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/godzilla/godzilla_2.webp') }}" class='film_img_2'
        alt="Still image from the film Godzilla showing the monster biting on a train.">
        <h1 class='hero film_quote' id='quote'>“I can't believe that Godzilla was the last of his species. If
            nuclear testing continues, then someday, somewhere in the world, another Godzilla may appear.”</h1>
        </div>
        <div class='grid_12-auto'>
            <img src="{{ url_for('static',filename='img/godzilla/godzilla_3.webp') }}" class='film_img_3'
            alt="Still image from the film Godzilla showing a scared group of people">
            <h1 class='film_article_header'>The Monster of Mankind</h1>
            <div class='film_article'>
                <p>
                    1954 was a landmark year for Japanese cinema, marked by two gigantic productions from Toho that
                    would change cinema forever. The dual production of Akira Kurosawa's Seven Samurai and Ishiro
                    Honda's Godzilla nearly bankrupted the company, but the huge domestic and international success of
                    both films forever put Japanese cinema on the map as a force to be reckoned with. While Seven
                    Samurai was an epic set in times long past, Godzilla was a terrifying drama set in contemporary
                    post-war Japan.
                    <br>
                    <br>
                    While later Godzilla and monster films were made purely as entertainment in a fantasy version of our
                    world, this was not the case for the original Godzilla film. Made only nine years after the atomic
                    bombs detonated over Hiroshima and Nagasaki, with the near-apocalyptic levels of destruction from
                    both still fresh in everyone's memory, the movie absolutely terrified Japanese moviegoers with its
                    image of Tokyo ravaged by an uncontrolled monster, created by mankind's hubris regarding nuclear
                    technology.
                    <br>
                    <br>
                    As we watch Godzilla wreak destruction upon Japan, the film forces us to face the question of who is
                    the biggest monster: the creature itself or mankind, who created it? As something as rare as a huge
                    blockbuster that poses existential questions about the dangers of nuclear weapons, Godzilla remains
                    a must-see classic for all lovers of great cinema.
                </p>
                <div class='container'>
                    <a href="{{ url_for('space_odyssey') }}" class='button film_button'>Next</a>
                </div>
            </div>
        </div>
        
    {% endblock content %}