<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1D1D1D">
    <meta name='description' content='How Shoah left a profound impact on the world of cinema.'>
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="../../css/mobile.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../site.webmanifest">
    <title>Shoah (1986)</title>
</head>

<body>
    <nav>
        <a href="../../index.html" class='logo'><img src="../../svg/logo.svg" alt="picture of logo"></a>
        <div class='menu'>
            <ul>
                <li>Reel 1</li>
                <li><a href="../../html/reel_1/joan-of-arc.html">The Passion of Joan of Arc (1928)</a></li>
                <li><a href="../../html/reel_1/seven-samurai.html">Seven Samurai (1954)</a></li>
                <li><a href="../../html/reel_1/persona.html">Persona (1966)</a></li>
                <li><a href="../../html/reel_1/star-wars.html">Star Wars (1977)</a></li>
                <li><a href="../../html/reel_1/goodfellas.html">Goodfellas (1990)</a></li>
            </ul>
            <ul>
                <li>Reel 2</li>
                <li><a href="../../html/reel_2/godzilla.html">Godzilla (1954)</a></li>
                <li><a href="../../html/reel_2/space-odyssey.html">2001: A Space Odyssey (1969)</a></li>
                <li><a href="../../html/reel_2/godfather.html">The Godfather (1972)</a></li>
                <li><a href="../../html/reel_2/stalker.html">Stalker (1979)</a></li>
                <li><a href="../../html/reel_2/shoah.html" id='current'>Shoah (1986)</a></li>
            </ul>
            <ul>
                <li>Reel 3</li>
                <li><a href="#">Coming soon!</a></li>
            </ul>
        </div>
        <div class='login'>
            <div class='exit'>
                <div class='line'></div>
                <div class='line'></div>
            </div>
            <div class='login_form'>
                <h2>Please, login:</h2>
                <form action="#">Username:</form>
                <input type="text">
                <br>
                <br>
                <form action="#">Password:</form>
                <input type="password" name="password" id="pass">
                <div class="button">
                    Submit
                </div>
            </div>
        </div>
        <div class='nav_right'>
            <img src="../../svg/profile.svg" alt="Profile icon" class='profile_icon'>
            <div class='burger'>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
            </div>
        </div>
    </nav>
    <main>
        <div class='grid_12-12'>
            <img src="../../img/shoah/shoah_1.webp" class='film_img_1'
                alt="Still from the movie The Godfather showing Don Corleone being whispered in his ear.">
            <h1 class='hero film_hero' id='hero_center'>SHOAH</h1>
            <div class='info_box'>
                <h3>FILM INFO</h3>
                <ul>
                    <li>Claude Lanzmann</li>
                    <li>France</li>
                    <li>1986</li>
                    <li>566 Minutes</li>
                    <li>Colour/Black & White</li>
                    <li>French, Yiddish</li>
                </ul>
            </div>
        </div>

        <div class='grid_12-12'>
            <img src="../../img/shoah/shoah_2.webp" class='film_img_2'
                alt="Still from the movie 2001: A Space Odyssey showing the character Dave in a spacesuit walking around a space station.">
            <h1 class='hero film_quote' id='quote'>“As I worked, I asked him: "What's going on? Where are the ones who
                stripped?" And he replied: "Dead! All Dead!" But it still hadn't sunk in, I didn't believe it. He'd used
                the Yiddish word. It was the first time I'd had heard Yiddish spoken. He didn't say it very loud, and I
                saw he had tears in his eyes.”</h1>
        </div>
        <div class='grid_12-auto'>
            <img src="../../img/shoah/shoah_3.webp" class='film_img_3'
                alt="Still from the movie 2001: A Space Odyssey showing a close-up of the character Dave wearing a space-suit.">
            <h1 class='film_article_header'>Bear Witnesss</h1>
            <div class='film_article'>
                <p>
                    Claude Lanzmann's "Shoah" (1985) bears witness to the darkest reaches of 20th-century history, the
                    planned annihilation of European Jewry by the Nazi regime during World War II. Spanning nine and a
                    half hours, this documentary masterpiece achieves its remarkable impact through nuanced storytelling
                    and a keen focus on the human experience. Through insightful interviews and striking visual
                    compositions, "Shoah" compels us to consider the strength of individual testimony, the potency of
                    human evil, and the profound responsibility that inheres in the preservation of memory.
                    <br>
                    <br>
                    "Shoah" resists the urge to reduce the Holocaust to mere statistics. Instead, it dives deep into the
                    emotional and psychological ramifications of the atrocities through first-person interviews, probing
                    the experiences of both victims and perpetrators. Through these intimate accounts, the film
                    underscores the importance of human perspectives, inviting the viewer to confront the Holocaust's
                    horrifying dimensions in a visceral, unforgettable way.
                    <br>
                    <br>
                    As an artistic memorial, "Shoah" embodies the responsibility that artistic undertakings have towards
                    remembering and honoring the past. While the horrors of the Holocaust are largely unrepresentable,
                    Lanzmann's filmic testimonies create a lasting impact—achieving what images alone cannot by
                    immortalizing the stories of the countless individuals extinguished in the genocide.
                    <br>
                    <br>
                    In "Shoah," Claude Lanzmann crafts a powerful, comprehensive document of the Holocaust. With a keen
                    understanding of the weight that each frame carries, he creates an unflinching chronicle of the
                    atrocities that forever marks the collective conscience and ensures that the stories of the victims
                    are indelibly etched in our memories. As a result, "Shoah" has become an enduring cinematic
                    masterpiece, one that remains as vital and affecting today as it was upon its release.
                </p>
                <div class='container'>
                    <a href="../reel_2/congrats.html" class='button film_button'>Next</a>
                </div>
            </div>
        </div>
    </main>
    <script src='../../js/menu.js'></script>
</body>

</html>