{% extends "base.html" %}
    {% block content %}
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/stalker/stalker_1.webp') }}" class='film_img_1'
        alt="Still from the movie The Godfather showing Don Corleone being whispered in his ear.">
        <h1 class='hero film_hero'>STALKER</h1>
        <div class='info_box'>
            <h3>FILM INFO</h3>
            <ul>
                <li>Andrei Tarkovsky</li>
                <li>Soviet Union</li>
                <li>1979</li>
                <li>161 Minutes</li>
                <li>Colour</li>
                <li>Russian</li>
            </ul>
        </div>
    </div>
    
    <div class='grid_12-12'>
        <img src="{{ url_for('static',filename='img/stalker/stalker_2.webp') }}" class='film_img_2'
        alt="Still from the movie 2001: A Space Odyssey showing the character Dave in a spacesuit walking around a space station.">
        <h1 class='hero film_quote' id='quote'>“I think it lets those pass who have lost all hope. Not good or bad,
            but wretched people”</h1>
        </div>
        <div class='grid_12-auto'>
            <img src="{{ url_for('static',filename='img/stalker/stalker_3.webp') }}" class='film_img_3'
            alt="Still from the movie 2001: A Space Odyssey showing a close-up of the character Dave wearing a space-suit.">
            <h1 class='film_article_header'>An Odyssey of Desire & Reflection</h1>
            <div class='film_article'>
                <p>
                    Andrei Tarkovsky's Stalker (1979) is not merely a film; it is an immersive experience that invites
                    viewers into a labyrinth of philosophical inquiry and emotional depth. Adapted from the novel
                    Roadside Picnic by Arkady and Boris Strugatsky, the narrative unfolds in a mysterious, forbidden
                    area known as the Zone, where the innermost desires of those who enter may be revealed.
                    <br>
                    <br>
                    Tarkovsky deftly probes the nature of human longing, faith, and the search for meaning in a world
                    fraught with uncertainty. The film's deliberate pacing and contemplative dialogue encourage
                    introspection, inviting audiences to engage with the characters' struggles and aspirations. In an
                    era dominated by rapid narratives, Tarkovsky's meditative style serves as a powerful reminder of
                    cinema's capacity for deep philosophical reflection.
                    <br>
                    <br>
                    The film employs long takes and natural light to create
                    a hauntingly beautiful atmosphere. Each frame is meticulously crafted, transforming the Zone into a
                    character that reflects the protagonists' internal conflicts. The striking contrast between the
                    vibrant colors of the Zone and the desaturated tones of the outside world highlights the film’s
                    thematic dichotomy—between oppressive reality and the liberating potential of desire.
                    <br>
                    <br>
                    It's exploration of the human condition established it as a pivotal
                    reference point for filmmakers and cinephiles alike. Tarkovsky's Stalker is not just a film; it is
                    an odyssey that beckons viewers to confront their own desires and the nature of existence, ensuring
                    its influence will echo through the annals of cinema for generations to come.
                </p>
                <div class='container'>
                    <a href="{{ url_for('shoah') }}" class='button film_button'>Next</a>
                </div>
            </div>
        </div>   
    {% endblock content %}