<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1D1D1D">
    <meta name='description'
        content='A film themed bucket list challenge for both experienced and aspiring cinophiles alike.'>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename='site.webmanifest') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>The Film Bucket Challenge</title>
    {% endif %}
</head>

<body>
    <main>
        <nav>
            <a href="{{ url_for('index') }}" class='logo'><img src="{{ url_for('static',filename='svg/logo.svg') }}"
                    alt="logo icon"></a>
            <div class='menu'>
                <ul>
                    <li>Reel 1</li>
                    <li><a href="html/reel_1/joan-of-arc.html">The Passion of Joan of Arc (1928)</a></li>
                    <li><a href="html/reel_1/seven-samurai.html">Seven Samurai (1954)</a></li>
                    <li><a href="html/reel_1/persona.html">Persona (1966)</a></li>
                    <li><a href="html/reel_1/star-wars.html">Star Wars (1977)</a></li>
                    <li><a href="html/reel_1/goodfellas.html">Goodfellas (1990)</a></li>
                </ul>
                <ul>
                    <li>Reel 2</li>
                    <li><a href="html/reel_2/godzilla.html">Godzilla (1954)</a></li>
                    <li><a href="html/reel_2/space-odyssey.html">2001: A Space Odyssey (1969)</a></li>
                    <li><a href="html/reel_2/godfather.html">The Godfather (1972)</a></li>
                    <li><a href="html/reel_2/stalker.html">Stalker (1979)</a></li>
                    <li><a href="html/reel_2/shoah.html">Shoah (1986)</a></li>
                </ul>
                <ul>
                    <li>Reel 3</li>
                    <li><a href="#">Coming soon!</a></li>
                </ul>
            </div>
            <div class='login'>
                <div class='exit'>
                    <div class='line'></div>
                    <div class='line'></div>
                </div>
                <div class='login_form'>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    <h2>Please, login:</h2>
                    <form action="/login" method='post' novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label() }}:
                            <br>
                            {{ form.username() }}
                            <br>
                            <br>
                            {% for error in form.username.errors %}
                            <span class='login_error'>{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }}:
                            <br>
                            {{ form.password() }}
                            <br>
                            <br>
                            {% for error in form.password.errors %}
                            <span class='login_error'>{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                        <p>{{ form.submit(class = 'button') }}</p>
                    </form>
                </div>
            </div>
            <div class='nav_right'>
                <img src="{{ url_for('static',filename='svg/profile.svg') }}" alt="Profile icon" class='profile_icon'>
                <div class='burger'>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static',filename='js/menu.js') }}"></script>
</body>

</html>