{% extends "base.html" %}
{% block content %}
    <div class='grid_12-12'>
        
        <h1 class='hero index_title'>Welcome to <br> a journey through <br> the world of <br> Cinema</h1>
        <div class='index_header_line_1 hero'>
            Welcome to
        </div>
        <div class='index_header_line_2 hero'>
            a journey
        </div>
        <div class='index_header_line_3 hero'>
            through
        </div>
        <div class='index_header_line_4 hero'>
            the world of
        </div>
        <div class='index_header_line_5 hero'>
            Cinema
        </div>
        
        <img id='index_img' src="{{ url_for('static',filename='img/index/persona_index.webp') }}"
        alt="Still from the movie Persona showing the character Alma wearing sunglasses.">
        
        <a href="{{ url_for('welcome') }}" class='button' id='index_button'>Begin</a>
        
    </div>
    {% endblock content %}